---
    layout: "dashboard_layout"
    authorization_policies: 
        - "superadmin"
---

{%liquid
    graphql result = 'category/read'
    assign category = result | fetch: "records" | fetch: "results"
%}


<section class="dashboard_content">
    <h1 class="content_title">blog category</h1>

    <table class="w-full mt-6">
        <thead >
            <tr class="h-12 align-middle">
                <th>id</th>
                <th>name</th>
                <th>description</th>
                <th>created at</th>
                <th>action</th>
            </tr>
        </thead>

        <tbody>
            {% for e in category %}
                <tr class="border-b-[1px] border-b-gray-300 capitalize">
                    <td class="text-center">{{e.id}}</td>
                    <td class="text-center">{{e.name}}</td>
                    <td>{{e.description}}</td>
                    <td class="text-center text-ellipsis">{{e.created_at | localize: "long"}}</td>
                    <td class="flex justify-center items-center h-12">
                        <div class="flex gap-2 items-center my-auto h-12">
                            <button class="h-10 w-[80px] bg-green-500 text-white self-center" onclick="handleEdit(`{{e.id}}`)">edit</button>
                            <button class="h-10 w-[80px] bg-red-500 text-white self-center" onclick="handleDelete(`{{e.id}}`)">delete</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</section>

<script>
    const handleEdit = (e)=>{
        window.location.href = `/dashboard/category/editcategory?id=${e}`
    }
</script>