---
name: sign_in
resource: Session
fields:
    email:
    password:
---

{% form html-id: 'form_sign_in'  %}
    <label for="email">email</label>
    <input type="email" name="{{ form.fields.email.name }}" value="{{ form.fields.email.value }}" id="email" >
    
    <label for="password">password</label>
    <input type="password" name="{{ form.fields.password.name }}" value="{{ form.fields.password.value }}" id="password" >

    {% if form.errors.password %}
        <small>{{ form.errors.password }}</small>
    {% endif %}

    <button>signin</button>

    <a href="/register">register here</a>
{% endform %}